nav {
  padding: 1.0625rem 1.5rem;
}

.header {
  // Burger menu styles
  &.open {
    .header__menu {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
    .overlay {
      animation: fade-in 300ms ease-in-out forwards;
    }
  }

  .overlay {
    opacity: 0;
    position: fixed;
    top: 4rem;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: linear-gradient($darkBlue, transparent);
  }

  &__menu {
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;
      transition: 300ms all ease-in-out;
      transform-origin: 5.5px;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }
  &__links {
    a {
      position: relative;
      font-size: $font-small;
      color: $grayishBlue;
      transition: color 200ms ease-in-out;

      &:not(:last-child) {
        margin-right: 32px;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -30px;
        background: linear-gradient(to right, $limegreen, $brightCyan);
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }
      &:hover {
        color: $darkBlue;

        &::before {
          opacity: 1;
          transform: opacity 300ms ease-in-out;
        }
      }
    }
  }
  &__invite {
    color: white;
    font-size: $font-small;
    transition: opacity 300ms ease-in-out;

    &:hover {
      opacity: 0.75;
    }
  }
}
